<!DOCTYPE html>

<html>
  <head>
    <title>log in</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <h2>Login</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>
		
		<div style="text-decoration: none;"class="error">
            {{error_username|safe}}
         </div>
		<div class="error">
            {{error_password}}
         </div>
      </table>

      <input type="submit">
	  <input type="hidden" name = "next_url" value={{next_url}}>
	  
    </form>
  </body>

</html>
